<h1>Analytics Dashboard</h1>

New vs. Returning Visitors:<br>
<canvas class="canvas" id="canvas" width=250 height=250></canvas>

<!-- <canvas class="canvas" id="canvas" width=500 height=250></canvas> -->

<table>
  <tr>
    <td>
      Total visits:
    </td>
    <td>
      <%= Visitor.total_visits %>
    </td>
  </tr>

  <tr>
    <td>
      Unique visitors:
    </td>
    <td>
      <%= @unique_visitors %>
    </td>
  </tr>

  <tr>
    <td>
      New visitors:
    </td>
    <td id="new_vis">
      <%= @new_visitors %>
    </td>
  </tr>

  <tr>
    <td>
      Returning visitors:
    </td>
    <td id="ret_vis">
      <%= @returning_visitors %>
    </td>
  </tr>

  <tr>
    <td>
      Firefox:
    </td>
    <td id="firefox">
      <%= @firefox_users %>
    </td>
  </tr>

  <tr>
    <td>
      Chrome:
    </td>
    <td id="chrome">
      <%= @chrome_users %>
    </td>
  </tr>

  <tr>
    <td>
      Safari:
    </td>
    <td id="safari">
      <%= @safari_users %>
    </td>
  </tr>

  <tr>
    <td>
      Internet Explorer:
    </td>
    <td id="ie"> 
      <%= @ie_users %>
    </td>
  </tr>

  <tr>
    <td>
      Total page views:
    </td>
    <td>
      <%= Visitor.total_pageviews %>
    </td>
  </tr>