<h1>Analytics Dashboard</h1>

<table>
  <tr>
    <td>
      Total visits:
    </td>
    <td>
      <%= Visitor.total_visits %>
    </td>
  </tr>

  <tr>
    <td>
      Unique visitors:
    </td>
    <td>
      <%= @total_visits %>
    </td>
  </tr>

  <tr>
    <td>
      Firefox:
    </td>
    <td>
      <%= @total_visits %>
    </td>
  </tr>

  <tr>
    <td>
      Chrome:
    </td>
    <td>
      <%= @total_visits %>
    </td>
  </tr>

  <tr>
    <td>
      Safari:
    </td>
    <td>
      <%= @total_visits %>
    </td>
  </tr>

  <tr>
    <td>
      Internet Explorer:
    </td>
    <td>
      <%= @total_visits %>
    </td>
  </tr>

  <tr>
    <td>
      Total page views:
    </td>
    <td>
      <%= Visitor.total_pageviews %>
    </td>
  </tr>