<h1>Analytics Dashboard</h1>

<table>
  <tr>
    <td><h2>New vs. Returning Visitors</h2></td>
    <td><h2>Most Popular Browsers</h2></td>
  </tr>
  <tr>
    <td><canvas class="canvas" id="canvas" width=400 height=240></canvas></td>
    <td><canvas class="canvas" id="canvas2" width=500 height=250></canvas></td>
  </tr>
</table>

<br><br>

<div class="analytics_container">
  <p><strong>Visits and Views</strong></p>
  <table class="analytics_table">
    <tr>
      <th>Site Visits</th>
      <th>Page Views</th>
      <th>Unique Visitors</th>
    </tr>

    <tr>
      <td><%= Visitor.total_visits %></td>
      <td>
        <%= Visitor.total_pageviews %>
      </td>
      <td>
        <%= @unique_visitors %> total<br>
        (<span id="new_vis"><%= @new_visitors %></span> new)<br>
        (<span id="ret_vis"><%= @returning_visitors %></span> returning)
      </td>
    </tr>
  </table>
</div>

<div class="analytics_container">
  <p><strong>Browser Usage</strong></p>
  <table class="analytics_table">
    <tr>
    </tr>
    <tr>
      <th>Firefox</th>
      <th>Chrome</th>
      <th>Safari</th>
      <th>IE</th>
      <th>Other</th>
    </tr>

    <tr>
      <td id="firefox"><%= @firefox_users %></td>
      <td id="chrome"><%= @chrome_users %></td>
      <td id="safari"><%= @safari_users %></td>
      <td id="ie"><%= @ie_users %></td>
      <td id="other"><%= @other_users %></td>
    </tr>
  </table>
</div>