<% if current_user.friend_count == 0 %>
  Welcome to your newsfeed. You currently have no friends!
<% end %>

<p><%= link_to 'Make new slothy friends!', users_path %></p>

<% if current_user.pending_friends.count > 0 %>
  <p>You have <%= pluralize(current_user.pending_friends.count, 'new slothy friend request') %>!</p>

  <% current_user.inverse_friendships.each do |inverse_friendship| %>
    <% if inverse_friendship.status == 'pending' %>
      <%= link_to "#{inverse_friendship.user.name}", user_path(inverse_friendship.user.id) %>
      <%= button_to "Confirm Friend Request", friendship_path(inverse_friendship.id), method: :patch %><br>
    <% end %>
  <% end %>
<% end %>

<% Post.all.reverse.each do |post| %>
  <% if ( current_user.find_all_friend_names.include?(post.author) || post.author == current_user.name ) && ( current_user.find_all_friend_names.include?(post.user.name) || post.user.name == current_user.name ) %>
    <p>
      <strong><%= post.author %></strong>
      <% if post.author != post.user.name %> 
        > <strong><%= post.user.name %></strong>
      <% end %>
      <br>
      <em><%= time_ago_in_words(post.created_at).capitalize %> ago</em><br>
      <%= post.content %>
    </p>
  <% end %>
<% end %>