<div class='left_box'>
  <% if current_user.friend_count == 0 %>
    <p>You currently have no friends!</p>
  <% end %>

  <div class='browse_link'>
    <%= link_to 'FIND FRIENDS', users_path %>
  </div>

  <% if current_user.pending_friendships_to_respond_to.count > 0 %>
    <p>You have <%= pluralize(current_user.pending_friendships_to_respond_to.count, 'new slothy friend request') %>!</p>

    <div class='friend_list'>
      <table >
        <% current_user.pending_friendships_to_respond_to.each do |friendship| %>
          <tr>
            <td>
              <table class='table_padding'>
                <tr>
                  <td><%= image_tag(friendship.user.photo_url, size: '50x50') %></td>
                  <td>
                    <%= link_to "#{friendship.user.name}", user_path(friendship.user.id) %>
                    <%= button_to "Accept", friendship_path(friendship.id), method: :patch %>
                    <%= button_to 'Decline', friendship_path(friendship.id), method: :delete %>
                    <%= params[:id].inspect %>
                  </td>
                </tr>
              </table>
            </td>
          </tr>
        <% end %>
      <% end %>
    </table>
  </div>
</div>

<div class='right_box'>
  <%= form_for(@post) do |f| %>
    <p>
      <%= f.label :content, "What's on your mind?"%><br>
      <%= f.text_area :content, :size => '55x5' %>
    </p>

    <%= f.hidden_field :user_id, :value => current_user.id %> 
    <%= f.hidden_field :author_id, :value => current_user.id %>

    <p><%= f.submit("Onward, to glory!")%></p>
  <% end %>

  <% Post.all.reverse.each do |post| %>
    <% if ( current_user.find_all_friend_names.include?(post.author.name) || post.author == current_user ) && ( current_user.find_all_friend_names.include?(post.user.name) || post.user == current_user ) %>
      <div class='post_box'>
        <table>
          <tr>
            <td><%= image_tag(post.author.photo_url, size: '50x50') %></td>
            <td>
              <div class='post_title'>
                <%= link_to "#{post.author.name}", user_path(post.author.id) %>
                <% if post.author != post.user %> 
                  → <strong><%= link_to "#{post.user.name}", user_path(post.user.id) %></strong>
                <% end %>
              </div>
              <div class='post_date'>
                <%= time_ago_in_words(post.created_at).capitalize %> ago
              </div>
              <div class='post_content'>
                <%= post.content %>
              </div>
            </td>
          </tr>
        </table>
      </div>
    <% end %>
  <% end %>
</div>