<% if current_user.friend_count == 0 %>
  Welcome to your newsfeed. You currently have no friends!
<% end %>

<p><%= link_to 'Make new slothy friends!', users_path %></p>

<% if current_user.pending_friendships.count > 0 %>
  <p>You have <%= pluralize(current_user.pending_friendships, 'new slothy friend request') %>!</p>

  <% current_user.inverse_friendships.each do |inverse_friendship| %>
    <% if inverse_friendship.status == 'pending' %>
      <%= link_to "#{inverse_friendship.user.name}", user_path(inverse_friendship.user.id) %>
      <%= button_to "Confirm Friend Request", friendship_path(inverse_friendship.id), method: :patch %><br>
    <% end %>
  <% end %>
<% end %>

<%= form_for(@post) do |f| %>
  <p>
    <%= f.label :content, "What's on your mind?"%><br>
    <%= f.text_area :content, :size => '55x5' %>
  </p>

  <%= f.hidden_field :user_id, :value => current_user.id %> 
  <%= f.hidden_field :author, :value => current_user.name %>

  <p><%= f.submit("Onward, to glory!")%></p>
<% end %>

<% Post.all.reverse.each do |post| %>
  <% if ( current_user.find_all_friend_names.include?(post.author) || post.author == current_user.name ) && ( current_user.find_all_friend_names.include?(post.user.name) || post.user.name == current_user.name ) %>
    <table>
      <tr>
        <td><%= image_tag(User.find(post.author)), size: '50x50') %></td>
        <td>
          <div class='post_box'>
            <div class='post_title'>
              <%= link_to "#{post.author}", user_path(post.author) %>
              <% if post.author != post.user.name %> 
                → <strong><%= link_to "#{post.user.name}", user_path(post.user.id) %></strong>
              <% end %>
            </div>
            <div class='post_date'>
              <%= time_ago_in_words(post.created_at).capitalize %> ago
            </div>
            <div class='post_content'>
              <%= post.content %>
            </div>
          </div>
        </td>
      </tr>
    </table>
  <% end %>
<% end %>