<div class='left_box'>

  <div class='profile_table'>
    <table>
      <tr>
        <td>
          <% if @user.photo_url == '' %>
            <%= image_tag('default.jpg', :class => 'style_image') %> 
          <% else %>
            <%= image_tag(@user.photo_url, :class => 'style_image') %> 
          <% end %>
        </td>
        <td>
          <h1><%= "#{@user.name}" %></h1>
          <p><%= "#{@user.email}" %></p>
          <p><%= "#{@user.sex.capitalize}" %></p>
          <% if current_user.name == 'Ada Lovelace' %>
            <p>[ <%= link_to 'Edit', edit_user_path(@user) %> | <%= link_to 'Destroy', @user, method: :delete, data: { confirm: 'Are you sure?' } %> ]</p>
          <% end %>
        </td>
      </tr>
    </table>
  </div>

  <% if @user.friend_count > 0 %>
    <h2>Friends (<%= @user.friend_count %>)</h2>

    <div class='table_padding friend_list'>
      <table>
        <% @user.friendships.each do |friendship| %>
          <% if friendship.status == 'accepted' %>
            <tr>
              <td>
                <% if friendship.friend.photo_url == '' %>
                  <%= image_tag('default.jpg', size: '50x50') %> 
                <% else %>
                  <%= image_tag(friendship.friend.photo_url, size: '50x50') %> 
                <% end %>
              </td>
              <td>
                <%= link_to "#{friendship.friend.name}", user_path(friendship.friend.id) %> 
                <% if @user == current_user %>
                  <%= button_to 'Remove', friendship_path(friendship.id), method: :delete %>
                <% end %>
              </td>
            </tr>
          <% end %>
        <% end %>

        <% @user.inverse_friendships.each do |inverse_friendship| %>
          <% if inverse_friendship.status == 'accepted' %>
            <tr>
              <td>                
                <% if inverse_friendship.user.photo_url == '' %>
                  <%= image_tag('default.jpg', size: '50x50') %> 
                <% else %>
                  <%= image_tag(inverse_friendship.user.photo_url, size: '50x50') %> 
                <% end %>
              </td>
              <td>
                <%= link_to "#{inverse_friendship.user.name}", user_path(inverse_friendship.user.id) %>
                <% if @user == current_user %>
                  <%= button_to 'remove', friendship_path(inverse_friendship.id), method: :delete %>
                <% end %>
              </td>
            </tr>
          <% end %>
        <% end %>
      </table>
    </div>
  <% end %>
</div>

<div class='right_box'>
  <% if current_user.find_all_friend_names.include?(@user.name) || current_user == @user %>
    <%= form_for(@post) do |f| %>
      <p>
        <% if @user == current_user %>
          <%= f.label :content, "What's on your mind?"%>
        <% else %>
          <%= f.label :content, "Say something..." %>
        <% end %>
        <br>
        <%= f.text_area :content, :size => '55x5' %>
      </p>

      <%= f.hidden_field :user_id, :value => @user.id %> 
      <%= f.hidden_field :author_id, :value => current_user.id %>

      <p><%= f.submit("Onward, to glory!")%></p>
    <% end %>
  <% elsif current_user.pending_friendship_names.include?(@user.name) %>
    Friendship pending.
  <% else %>
    <br><br>Send <%= @user.name %> a <%= link_to "friend request", friendships_path(:friend_id => @user.id), method: :post %>.<br><br>
  <% end %>

  <% @user.posts.reverse.each do |post| %>
    <div class='post_box'>
      <table>
        <tr>
          <td>
            <% if post.author.photo_url == '' %>
              <%= image_tag('default.jpg', size: '50x50') %> 
            <% else %>
              <%= image_tag(post.author.photo_url, size: '50x50') %> 
            <% end %>
          </td>
          <td>
            <div class='post_title'>
              <%= link_to "#{post.author.name}", user_path(post.author.id) %>
            </div>
            <div class='post_date'>
              <%= time_ago_in_words(post.created_at).capitalize %> ago
            </div>
            <div class='post_content'>
              <%= post.content %>
            </div>
          </td>
        </tr>
      </table>
    </div>
  <% end %>
</div>