<div class='profile_info'>

  <div class='profile_table'>
    <table>
      <tr>
        <td><%= image_tag(@user.photo_url, :class => 'style_image') %> </td>
        <td>
          <h1><%= "#{@user.name}" %></h1>
          <p><%= "#{@user.email}" %></p>
          <p><%= "#{@user.sex}" %></p>
        </td>
      </tr>
    </table>
  </div>

  <h2>Friends (<%= @user.friend_count %>)</h2>

  <% @user.friendships.each do |friendship| %>
    <% if friendship.status == 'accepted' %>
      <%= link_to "#{friendship.friend.name}", user_path(friendship.friend.id) %> (<%= link_to 'remove', friendship_path(friendship.id), method: :delete %>)<br>
    <% end %>
  <% end %>

  <% @user.inverse_friendships.each do |inverse_friendship| %>
    <% if inverse_friendship.status == 'accepted' %>
      <%= link_to "#{inverse_friendship.user.name}", user_path(inverse_friendship.user.id) %> <br>
    <% end %>
  <% end %>

</div>

<div class='profile_wall'>
  <%= form_for(@post) do |f| %>
    <% if @post.errors.any? %>
      <%= pluralize(@post.errors.count, "error") %> prohibited this message from being posted:
      <ul>
        <% @post.errors.full_messages.each do |message| %>
          <li> <%= message %> </li>
        <% end %> 
      </ul>
    <% end %>

    <p>
      <%= f.label :content, "Say something:"%><br>
      <%= f.text_area :content %>
    </p>

    <%= f.hidden_field :user_id, :value => @user.id %> 
    <%= f.hidden_field :author, :value => current_user.name %>

    <p><%= f.submit("Onward, to glory!")%></p>
  <% end %>

  <% @user.posts.reverse.each do |post| %>
    <p>
      <strong><%= post.author %></strong><br>
      <em><%= time_ago_in_words(post.created_at) %> ago</em><br>
      <%= post.content %>
    </p>
    <% end %>
</div>